body{
	margin: 0px;
}
* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}

.wrapper {
	height: 800px;
	position: relative;
	width: 100%;
}

.slider {
	height: inherit;
	overflow: hidden;
	position: relative;
	width: inherit;
}

.slides {
	height: inherit;
	opacity: 0;
	position: absolute;
	width: inherit;
	z-index: 0;
	background-repeat: no-repeat;
	background-size: 100%;
	-webkit-transform: scale(1.5);
	-moz-transform: scale(1.5);
	-o-transform: scale(1.5);
	transform: scale(1.5);
	-webkit-transition: transform ease-in-out .5s, opacity ease-in-out .5s;
	-moz-transition: transform ease-in-out .5s, opacity ease-in-out .5s;
	-o-transition: transform ease-in-out .5s, opacity ease-in-out .5s;
	transition: transform ease-in-out .5s, opacity ease-in-out .5s;
}

.slide1 {}
.slide2 {}
.slide3 {}
.slide4 {}

#slide1:checked ~ .slider > .slide1,
#slide2:checked ~ .slider > .slide2,
#slide3:checked ~ .slider > .slide3,
#slide4:checked ~ .slider > .slide4{
	opacity: 1;
	z-index: 1;
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
}

.wrapper > input {
	display: none;
}

.wrapper .controls {
	left: 50%;
	transform: translateX(-50%) translateY(-177px);
	position: absolute;
	z-index: 3;
}

.wrapper label {
	cursor: pointer;
	display: inline-block;
	height: 48px;
	margin: 25px 12px 0 16px;
	position: relative;
	width: 48px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
	-webkit-transition: background ease-in-out .5s;
	-moz-transition: background ease-in-out .5s;
	-o-transition: background ease-in-out .5s;
	transition: background ease-in-out .5s;
}

.wrapper label:hover, 
#slide1:checked ~ .controls label:nth-of-type(1),
#slide2:checked ~ .controls label:nth-of-type(2),
#slide3:checked ~ .controls label:nth-of-type(3),
#slide4:checked ~ .controls label:nth-of-type(4) {
	background-image:url(http://habrastorage.org/files/3f2/628/bd5/3f2628bd58c8452db516195cb0c9bfc9.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
}

.wrapper label:after {
	border: 2px solid #ddd;
	content: " ";
	display: block;
	height: 48px;
	position: absolute;
	width: 48px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}

.shadow {
	position: absolute;
	width: 100%;
	height: 800px;
	opacity: 0.2;
	background: black;
	top: 0;
	left: 0;
	display: table;
	z-index: 2;
}

.header {
	width: inherit;
	height: inherit;
	color: white;
	text-align: center;
	font-size: 150pt;
	display: table-cell;
	vertical-align: middle;
	z-index: 2;
}

.goOut {
	transform: translateY(-800px);
	transition: transform 1s 0s;
}